.footer__copyright {
  margin: 67px 0 60px;
  color: #545454;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1;
  font-family: "Inter", Arial, sans-serif;
}

/* styles for small to large smartphones */
@media screen and (max-width: 426px) and (min-width: 320px) {
  .footer__copyright {
    font-size: 14px;
    color: #545454;
    font-weight: 400;
    line-height: 1.1;
    font-family: "Inter", Arial, sans-serif;
    margin: 48px 19px 36px;
    padding: 0;
  }
}

@media screen and (max-width: 800px) and (min-width: 720px) {
  .footer__copyright {
    font-size: 16px;
    color: #545454;
    font-weight: 400;
    line-height: 1.1;
    font-family: "Inter", Arial, sans-serif;
    margin: 0 0 40px;
    padding: 0;
  }
}
