.header {
  margin-top: 45px;
}

.header__logo {
  width: 173px;
  height: 33px;
}

.header__divider {
  margin-top: 41px;
  border: 1px solid #545454b3;
}

/* styles for small to large smartphones */
@media screen and (max-width: 600px) and (min-width: 320px) {
  .header {
    margin: 28px 0 0;
  }

  .header__logo {
    margin-left: 20px;
    width: 126px;
    height: 24px;
  }

  .header__divider {
    margin-top: 32px;
  }
}
