.page {
  background-color: #000;
  font-family: "Inter", Arial, sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
  min-width: 1280px;
}

.header {
  display: grid;
  grid-template-columns: auto;
  width: 880px;
  margin: 0 auto;
  padding: 45px 0 0;
  z-index: 1;
  box-sizing: border-box;
}

.header__logo {
  width: 173px;
  height: 33px;
  padding-bottom: 41px;
}

.header__divider {
  border-bottom: 1px solid #545454b3;
  width: 100%;
  margin-bottom: 40px;
}

.profile {
  display: flex;
  align-items: center;
  width: 880px;
  margin: 0 auto;
}

.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 30px;
}

.profile__content {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: repeat(auto-fit, minmax(207px, 1fr));
  grid-gap: 7px 18px;
  align-items: center;
}

.profile__title {
  font-weight: 500;
  font-size: 42px;
  line-height: 1.1;
  font-family: "Inter", Arial, sans-serif;
  grid-area: title;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__edit-button {
  background: url(../images/edit-icon.svg) center no-repeat;
  height: 24px;
  width: 24px;
  grid-area: button;
  border: 1px solid #fff;
  padding: 0;
  margin-top: 7px;
}

.profile__edit-button:hover {
  opacity: 60%;
  cursor: pointer;
}

.profile__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1;
  grid-area: description;
  margin: 0;
  overflow: hidden;
}

.profile__add-button {
  margin-left: auto;
  background: url(../images/add-icon.svg) center no-repeat;
  width: 150px;
  height: 50px;
  border-radius: 2px;
  border: solid #ffffff 2px;
}

.profile__add-button:hover {
  cursor: pointer;
  opacity: 60%;
}

.cards {
  max-width: 880px;
  margin: 0 auto;
}

.cards__details {
  margin: 51px 0 0;
  padding: 0;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  list-style-type: none;
}

.card__image {
  width: 100%;
  height: 282px;
  display: block;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: #000;
  padding: 25px 0 25px 20px;
  border-radius: 0 0 10px 10px;
}

.card__title {
  margin: 0;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 900;
  font-family: "Inter", Arial, sans-serif;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__heart-button {
  border: none;
  margin-right: 20px;
  background: url(../images/heart-active.svg) center no-repeat;
  width: 21px;
  height: 18px;
  color: #000;
}

.card__heart-button:hover {
  color: #000;
  opacity: 50%;
  cursor: pointer;
}

.footer {
  width: 880px;
  margin: 0 auto;
  padding: 67px 0 60px;
}

.footer__copyright {
  margin: 0;
  color: #545454;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1;
  font-family: "Inter", Arial, sans-serif;
}

/* Desktop (1280px) */
@media (max-width: 1280px) {
  .page {
    min-width: 775px;
  }

  .header {
    width: 775px;
  }

  .profile {
    width: 775px;
  }

  .cards {
    max-width: 775px;
  }

  .footer {
    width: 775px;
  }
}

/* Tablet (775px) */
@media (max-width: 775px) {
  .page {
    min-width: 320px;
  }

  .header {
    width: 100%;
    padding: 20px;
  }

  .header__logo {
    padding-bottom: 20px;
  }

  .profile {
    width: 100%;
    padding: 20px;
  }

  .profile__image {
    width: 96px;
    height: 96px;
    margin-right: 15px;
  }

  .cards {
    max-width: 100%;
    padding: 0 20px;
  }

  .cards__details {
    grid-template-columns: repeat(auto-fit, 100%);
  }

  .card {
    margin-bottom: 20px;
  }

  .footer {
    width: 100%;
    padding: 20px;
  }
}

/* Mobile (320px) */
@media (max-width: 320px) {
  .profile__image {
    width: 80px;
    height: 80px;
    margin-right: 10px;
  }

  .card__image {
    height: 200px;
  }
}
